html{
    height: 110%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 15%;
    display: block;
    width: 100%;
}

.nav-links{
    list-style-type: none;
    float: right;
    margin-right: 3%;
}

.nav-links li{
    float: left;
}

.nav-links a{
    font-family: 'Lilita One', cursive;
    text-decoration: none;
    display: block;
    padding: 20px;
    border: 1px solid rgb(117, 16, 247);
    border-radius: 50px;
    margin: 10px;
    font-size: 18px;
    font-weight: 400;
}

.nav-links a:hover{
    background-color: rgb(117, 16, 247);
    color: blanchedalmond;
}

.fa-terminal{
    color: rgb(117, 16, 247);
}


.page-icon{
    font-size: 5rem;
    display: inline-block;
    margin-left: 3%;
    margin-top: 1%;
}

.svg{
    display: block;
    width: 100%;
    height: 400px;
    margin: auto;
    position: relative;
}

.svg:hover .svg-top{
    display: block;
}

.svg:hover ~ .title{
    color: rgb(117, 16, 247);
}

.svg:hover .circle{
    display: block;
    background: blanchedalmond;
}

img{
    display: block;
    margin: auto;
    height: 300px;
    width: 300px;
    margin-bottom: 5%;
}

.svg-bottom{
    display: block;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -150px;
}

.svg-top{
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -150px;
    z-index: 99;
}

.circle{
    display: none;
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -150px;
    border-radius: 40px;
}

.title{
    font-family: 'Lilita One', cursive;
    text-align: center;
    letter-spacing: 2.2px;
    margin: auto;
    font-weight: 500;
    margin-bottom: 20px;
}

.svg-hero{
    display: block;
    height: 400px;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 0;
}

.desc-column{
    background-color: rgb(117, 16, 247);
    width: 100%;
    height: 600px;
}

.desc-text{
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    font-size: 2.2em;
    color: white;
    padding-top: 100px;
    margin-top: 0;
}

.desc-text-mini{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 22px;
    color: white;
    font-weight: 300;
}

.skill-column{
    box-sizing: border-box;
    width: 33.33%;
    border-radius: 40px;
    height: 400px;
    margin-left: 5px;
    float:left;
    background-color: blanchedalmond;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}


